<style>
    table#t01 tr:nth-child(even) {
        background-color: #eee;
    }
    table#t01 tr:nth-child(odd) {
        background-color: #fff;
    }
    table#t01 th {
        color: white;
        background-color: black;
    }
</style>

<h2>{{realm.name}}<h2>

<table style="width:100%">
    <tr style="background-color: black; color:white;">
        <td><h3>Item</h3></td>
        <td><h3>Stack</h3></td>
        <td><h3>Enchère</h3></td>
        <td><h3>Vente</h3></td>
        <td><h3>Vendeur</h3></td>
    </tr>
    {% for sell in sells %}
        <tr style="text-align:center;">
            <td>
                <a href="{% url 'item' item_id=sell.item.id %}" target="_blank">
                    {{sell.item.id}}
                </a>
            </td>
            <td>{{sell.quantity}}</td>
            <td>{{sell.bid}}</td>
            <td>{{sell.buyout}}</td>
            <td>{{sell.owner}}</td>
        </tr>
    {% endfor %}
</table>
